.form-wrapper {
  display: flex;
  flex-direction: column;

  min-width: 500px;
  margin: auto;
  background-image: url(../../images/why-beetroot-abc842714f75a4fb325e7500b98496e8.svg);
  background-repeat: no-repeat;
  opacity: 0.7;
}
