body {
  background: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}

.header {
  max-width: 1440px;
  height: 80px;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 142px;
  margin: 17px 120px;
}

.header__content-logo {
  width: 200px;
  height: 32px;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  font-size: 16px;
  line-height: 28px;
  color: #2f281e;
}

.header__menu-list-item_active:active {
  color: #ff9900;
}

.header__buttons {
  display: flex;
  flex-direction: row;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.header__buttons-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 23px;
  margin-right: 32px;

  width: 110px;
  height: 46px;

  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

.header__buttons-orange {
  background: #ff9900;
}

.main__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 56px;

  margin: 70px 120px 99px 120px;
}

.main__section-content {
  min-width: 500px;
}

.main__section-content-text {
  margin-bottom: 20px;
}

.main__section-content-text-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;

  color: #2f281e;
}

.main__section-content-text-paragraph {
  font-size: 18px;
  line-height: 28px;
  color: #544837;
}

.main__section-content-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 40px;

  background: #ff9900;
  border-radius: 4px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;
}

/*-----------------------Burger navigation---------------*/
.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index:2;
  overflow: hidden;
}
.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

/*----------header menu----------*/

.header__menu-nav { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #FFEFBA;
  transform: translateX(100%);
  transition: transform 0.7s; 
}
.header__menu-nav.active {
  transform: translateX(0);
}
.header__menu-nav li {
  list-style-type: none;
}

/*--------------Dagger-------*/

.menu-btn.active span:nth-of-type(1) {  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}