body {
  width: 590px;
  margin: 0 auto;
}

.form {
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  font-family: 'Roboto', sans-serif; 
  font-style: normal;
  font-size: 15px; 
  font-weight: 400;
  color: #545454;
}

.form__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-top: 35px ;
  margin-left: 36px;

  color: #1C1C1C;
}

.form__item-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
 }
.form__item-label {
  margin-bottom: 7px;
}
.form__item-name-first,
.form__item-name-last,
.form__item-location-select,
.form__item-location-geo {
  width: 245px;
  display: flex;
  flex-direction: column;
}

.form__item-input,
.form__item-mail-input,
.form__item-select {

  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px; 
  padding: 8px 38px 8px 10px;

}

.form__item-mail {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  align-self: center;
}

.form__item-mail-input {
  margin: 7px 0;
}

.form__item-point {
  width: 500px;
  display: flex;
  flex-direction: row;
  margin: 7px 0;
  gap: 20px;
  margin-top: 20px;
  
  cursor: pointer;
  font-family: inherit;
  line-height: 22px;
  letter-spacing: -0.2px;
  
}

.form__item-point-radio-input {
  display: none;
 }

 .form__item-point-radio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
 }

 .form__item-point-radio-inner {
  content: '';
  background:#E4E4E4;
  border-radius: 50%;

  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

 }
 .form__item-point-radio-inner::after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFFFFF;
 }

.form__item-point-radio:has(.form__item-point-radio-input:checked)
.form__item-point-radio-inner {
  background: #007BFF;
 }

.form__item-location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}
.form__item-select {
  appearance: none;
}
.form__item-location-select svg {
  position: relative;
  top: -25px;
  left: 220px;
}
.form__button {
  width: 500px;
  height: 38px;
  background: #007BFF;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  margin-top: 20px;
  align-self: center;
  font-weight: 500;
  color: #FFFFFF;
}

.form__item-accept {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.1px;
  margin-top: 22px;
  color: #969696;
}

.form__item-accept a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.1px;

  color: #007BFF;
}

.form__item-line {
  background: #E4E4E4;
  height: 1px;
  margin-top: 20px;
}

.form__item-logging {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.form__item-logging-text {
  line-height: 22px;
  text-align: right;
  letter-spacing: -0.2px;
}

.form__item-logging a {
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.1px;

  color: #007BFF;
}

.form__item-input:focus,
.form__item-mail-input:focus,
.form__item-select:focus {
border-color: #007BFF;
}