main {
  max-width: 1170px;
  margin: 0 auto;
  background: #FFFFFF;
}
.photo {
  display: flex;
  flex-direction: column;
}
.photo__heading {
  font-family: 'Delius Unicase', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
   
  text-align: center;
  letter-spacing: 0.05em;
  
  color: #000000;
}
.photo__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 30px;

}

.photo__grid-block-titles {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.photo__grid-block-titles:first-child {
  color: #FFFFFF;
}
.photo__grid-block-titles:last-child {
  font-weight: 400;
  color: #E0E0E0;
}
.photo__grid-block1 {
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;*/
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
 
    border-radius: 20px;
}
.photo__grid-block2 {
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;*/

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
 
  border-radius: 20px;
}
.photo__grid-block3 {
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;*/
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

}
.photo__grid-block4 {
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;*/
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

}
.photo__grid-block5 {
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;*/
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.photo__grid-block6 {
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;*/
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
img {
object-fit: cover;


}

